<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socket</title>
    <link rel="stylesheet" href="socket.css">
</head>
<body>
<div id="parentlogin">
    <div id="childlogin">
        <form method="post" action="/login">
            <button id="close1"><img src="nf/cancel-music.png" id="img4"></button>
            <div id="username">Username:</div>
            <input type="text" name="username" placeholder="Username" id="usernamebox" autocomplete="off">
            <div id="password">Password:</div>
            <input type="password" name="password" placeholder="Password" id="passwordbox">
            <div id="submit"><input type="submit" id="submitbox"></div>
        </form>
    </div>
</div>
  
<script type="text/javascript"></script>
<script type="app.js"></script>
</body>
</html>